html{
  background-color: #FFFFFF;
  font-family: helvetica;
}

h1{
  margin-top: -50px;
  font-size: 50px;
}

.h1mini{
  margin-right: -43%;
  margin-top:-23%;
}

.subtitle{
  margin-top: -30px;
}

.homebtm{
  color: white;
  background-color: transparent;
  border: none;
  height: 50px;
  width: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
  font-size: 30px;
  margin-top: -10px;
  cursor: pointer;
}

.menubtm{
  color: white;
  background-color: transparent;
  border: none;
  height: 50px;
  width: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  margin-top: -10px;
  float: right;
  
}

.roundedheader{
  border-radius: 15px;
  background: #2D2D2D;
  padding: 20px; 
  width: 90%;
  height: 30px;
  margin: auto;
  font-size: 25px;
}

.roundedbanner{
  border-radius: 15px;
  background: #FFFFFF;
  padding: 20px; 
  width: 90%;
  height: 600px;
  margin: auto;
  text-align: center;
  filter: drop-shadow(0rem 0.5rem 0.5rem #E5E5E5);
}

.rb2{
  background: #f5e9dd;
}

.iPadPromain{
  height: 554px;
  width: 695px;
  margin-left: 50px;
}

.iPadmain{
  height: 393px;
  width: 1013px;
  margin-top: 100px;
}

.iPadAirmain{
  margin-top: 51px;
  height: 568.5px;
  width: 1150px;
}

.iPadminimain{
   height: 500px;
   margin-top: 4%;
   margin-right: 50%;
}

.airtext{
  margin-top: -30%;
  margin-left: -45%;
}

.subtitleair{
  margin-left: -43%;
  margin-top:-2%;
}

.subtitlemini{
  margin-left: 43%;
  margin-top: -2%;
}