html{
  background-color: #fafafa;
  font-family: helvetica;
}

h1{
  
}

.title{
  margin-top: -550px;
  margin-left: 10%;
  font-size: 100px;
}

.subtitle{
  font-size: 30px;
  color: grey;
  margin-left: 10%;
  margin-top: -50px;
}

.arrowdown{
  margin-left: 17%;
  font-size: 30px;
  color: grey;
}

.AppleHome{
  background-size: 16px 44px;
}

.homebtm{
  color: white;
  background-color: transparent;
  border: none;
  height: 60px;
  width: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
  font-size: 30px;
  margin-top: -13px;
  cursor: pointer;
}

.menubtm{
  color: white;
  background-color: transparent;
  border: none;
  height: 50px;
  width: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  margin-top: -10px;
  float: right;
  
}

.roundedheader{
  border-radius: 15px;
  background: #2D2D2D;
  padding: 20px; 
  width: 90%;
  height: 30px;
  margin: auto;
  font-size: 25px;
}

.iPadPromain{
  width:50%;
  display: block;
  margin-left: 50%;
}
